
.chatbox {
    width: 40em;
    height: 30em;
    border: 1px solid black;
    margin: 0 auto;
}

.header{
    background-color: #129FEA;
    font-size: large;
    text-align: center;
}


.message-sent {
    border-radius: inherit;
    background-color: #11557C;
    border-bottom-color: white;
    color: ghostwhite;
    text-align: left;
}

.content-input {
    margin: auto;
}

.message-received {
    border-radius: inherit;
    border-bottom-color: white;
    background-color: grey;
    color: black;
    text-align: right;
}