.h1{
    font-family: 'Roboto',sans-serif;
}
.p{
    font-family: 'Roboto', sans-serif;
}
.chatbox {
    width: 20em;
    height: 30em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid black;
    margin: 0 auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    overflow-y: scroll;
    word-wrap: break-word;
    margin-top: 2em;
}

.header{
    background-color: #129FEA;
    font-size: large;
    text-align: center;
}

.message{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 1em 1em 1em 1em;
    color: black;
}