<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
    <link href={{ url }}/>




</head>
<body>
    <form id="chatForm" n class="pure-form pure-form-stacked" action="/DOCTOR" method="POST">
        <fieldset>
            <textarea id="chatBox" rows="10" cols="50" readonly></textarea>
            <input type="text" id="message" name="message" placeholder="message"/>
        </fieldset>
    </form>
    <script src={{ url_for('static', filename='js/jquery-3.1.1.js') }} ></script>
    <script src={{ url_for('static', filename='js/jquery.form.js') }}></script>
    <script src={{ url_for('static', filename='js/chatform.js') }}></script>

</body>
</html>