<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='css/style.css')}}/>
    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='css/pure.css')}}/>
</head>
<body>
    <div id="chatBox" class="chat-box" ></div>
    <form id="chatForm" class="pure-form" action="/DOCTOR" method="POST">
            <input type="text" id="message" name="message" placeholder="message"/>
    </form>
    <script src={{ url_for('static', filename='js/jquery-3.1.1.js') }} ></script>
    <script src={{ url_for('static', filename='js/jquery.form.js') }}></script>
    <script src={{ url_for('static', filename='js/chatform.js') }}></script>

</body>
</html>