<!DOCTYPE html>
<html>
<head>
    <title>Eliza</title>
    <link rel="stylesheet" href={{ url_for('static',filename='css/pure.css') }} type="text/css"/>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>
<body>

<div class="content">
    <form class="pure-form" method="post" action="/">
        <fieldset>
            <legend>Enter Your Name</legend>
            <input class="content-input" type="text" placeholder="name" name="name">
            <input type="submit" class="pure-button pure-button-primary">
        </fieldset>
    </form>
</div>
</body>
</html>
